<?xml version="1.0" encoding="utf-8"?>

<packages>
	<package id="vlc" />
	<package id="kdenlive" />
	<package id="xnview" />
	<package id="handbrake" />
	<package id="youtube-dl" />
	<package id="audacity" />
	<package id="itunes" />
	<package id="gom-player" />
	
	<package id="git.install" />
	<package id="anaconda3" />
	<package id="putty.install" />
	<package id="vscode.install" />
	<package id="winscp.install" />
	<package id="azure-cli" />
	<package id="dbeaver" />
	<package id="sourcetree"/>
	
	<package id="7zip.install" />
	<package id="obs-studio" />
	<package id="calibre" />
	<package id="qbittorrent" />
	<package id="sharex" />
	<package id="teracopy"/>
	<package id="openvpn-connect"/>
	<package id="bluescreenview.install"/>
	<package id="treesizefree"/>
	<package id="spacesniffer"/>
	<package id="bulkrenameutility"/>
	<package id="mobaxterm"/>
	<package id="docker-desktop"/>
	
	
	<package id="notepadplusplus.install" />
	<package id="office365business" />
	
	<package id="googledrive" />
	<package id="googlechrome" />
	<package id="chrome-remote-desktop-host" />
	<package id="discord.install" />
	<package id="whatsapp" />
	<package id="zoom" />
	<!--
	<package id="spotify" />
	-->
</packages>
